config/*
config/tmux/plugins
!config/bash
!config/git/config
!config/foot
!config/labwc
!config/npm
!config/nvim
!config/qalculate/qalc.cfg
!config/sway
!config/tmux
!config/vim/after
!config/vim/vimrc
